<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm"
    (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success me-2"
            [disabled]="!recipeForm.valid"
          >
            Save
          </button>
          <button type="button" class="btn btn-success" [routerLink]="'../'">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image</label>
            <input
              type="text"
              id="imagePath"
              class="form-control"
              formControlName="imagePath"
              #imagePath
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <img [src]="imagePath.value" alt=""  class="img-responsive" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              formControlName="description"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 mt-4" formArrayName="ingredients">
          @for (ingredientCtrl of controls; track $index) {
          <div class="row" [formGroupName]="$index">
            <div class="col-auto">
              <input type="text" class="form-control" formControlName="name" />
            </div>
            <div class="col-auto">
              <input
                type="number"
                class="form-control"
                formControlName="amount"
              />
            </div>
            <div class="col-auto">
              <button type="button" (click)="onDeleteIngredient($index)" class="btn btn-danger mb-3">
                <span class="bi bi-trash"></span>
              </button>
            </div>
          </div>
          }
          <hr />
          <div class="row">
            <div class="col-xs-1">
              <button
                type="button"
                class="btn btn-success me-2"
                (click)="onAddIngredient()"
              >
                Add Ingredient
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
