<div class="card">
  <img [src]="recipe.imagePath" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">
      {{ recipe.name }}
      <i class="bi bi-trash"></i>
    </h5>
    <p class="card-text">
      {{ recipe.description }}
    </p>
  </div>
  <ul class="list-group list-group-flush">
    @for (ingredient of recipe.ingredients; track $index) {
    <li class="list-group-item">
      {{ ingredient.name }} - {{ ingredient.amount }}
    </li>

    }
  </ul>
  <div class="card-body">
    <a class="btn btn-primary me-2" (click)="onAddToShoppingList()"
      >To Shopping List</a
    >
    <a class="btn btn-primary" [routerLink]="'edit'">Edit Recipe</a>
  </div>
</div>
